.about {
    width: 80vw;

    h1 {
        font-size: 2em;
        text-align: center;
    }
}

.about-branches {
    margin-block-start: 3em;
    text-align: center;
}

.about-btns-container {
    display: flex;
    gap: .5em;
    margin: 1.5em auto;
    width: fit-content;

    Button {
        text-transform: capitalize;
        font-weight: 400;
    }
}