.toy-edit h2 {
    text-align: center;
    margin-block: 1em 2em;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;

    input[type='number'] {
        width: 100px;
    }

    input[type='text'] {
        width: 200px;
    }
}