.toys-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

    width: 80vw;
}

.toy-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: fit-content;
    width: 300px;

    padding-block: .5em 1em;
    margin-block: .5em;

    background-color: azure;
    border-radius: 1em;
    text-align: center;

    box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.1);

    transition: box-shadow .3s;

    &:hover {
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.5);
        cursor: pointer;
    }

    h2 {
        font-weight: 600;
        font-size: 1.7em;
    }

    p {
        font-size: 1.2em;

    }

    img {
        width: 100px;
        object-fit: contain;
    }
}

.btns-container {
    display: flex;
    gap: .5em;

    * {
        padding: .3em .6em;
        border: 1px solid black;

        transition: background-color .5s, color .5s;
    }

    *:hover:not([disabled]) {
        cursor: pointer;
        background-color: $clr1bg;
        color: $clr1txt;
    }

    .btn-add:hover {
        cursor: pointer;
        background-color: $clr1bg;
        color: $clr1txt;
    }
}