.toy-details-container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 2.5em;
        margin-block-end: .1em;
    }

    h2 {
        font-size: 2.1em;
        font-weight: 400;
        margin-block: 1em 1.5em;
        text-align: center;

    }

    p {
        color: $clr1txt;
        font-size: 1.8em;
        margin-block-end: 0;
    }

    img {
        margin-block: .5em 1.5em;
        max-width: 500px;
    }

    hr {
        width: 100%;
        opacity: .15;
    }

    .btn-back {
        position: absolute;
        left: 0;
        top: 1rem;

        font-size: 1.5em;

        background-color: inherit;
        border: none;
        border-radius: 4px;

        &:hover {
            cursor: pointer;
        }
    }

    .messages {
        text-align: center;

        form {
            display: flex;
            gap: .2em;
            margin-block: 1em;

            textarea {
                font-family: inherit;
                min-width: 20vw;
                max-width: 60vw;
                min-height: 4vh;
                max-height: 10vh;
                margin: auto;
            }
        }
    }

    .toy-message {
        position: relative;

        & * {
            max-width: 50vw;
            word-wrap: break-word;
        }

        .btn-delete {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.reviews-container {
    text-align: center;

    form {
        display: flex;
        gap: .2em;
        margin-block: 1em;

        textarea {
            font-family: inherit;
            min-width: 20vw;
            max-width: 60vw;
            min-height: 4vh;
            max-height: 10vh;
            margin: auto;
        }
    }

    .toy-review {
        position: relative;

        & * {
            max-width: 50vw;
            word-wrap: break-word;
        }

        .btn-delete {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}