$clr1bg: #179bae;
$clr1bg-light: lighten($clr1bg, 10%);
$clr1bg-dark: darken($clr1bg, 10%);

$clr1txt: #f1dec6;

/* usermsg */
$clr1: #087f81;
$clr2: #ae2012;


// COLOR PALETTE
$clr1: #FF521C;
$clr2: #000;
$clr3: #fff;
$clr4: darken($clr3, 40%);
$clr5: #2d2d2d;